UriTemplate toString with path param

```java
UriTemplate template = new UriTemplate('services{/id}/heartbeat')
assertEqual("services{/id}/heartbeat", template.toString())
```
Actual result is `services{/id}`

It looks like I am assuming the UriTemplate would parse `{/x}` as a path variable and instead sets it as a segment. Looking at [RFC 6570 Section 3.2.6](https://tools.ietf.org/html/rfc6570#section-3.2.6) it looks like I may have interpreted this template wrong. I assume that the template I am looking for is `'services/{id}/heartbeat'`. I am seeing an issue there, and will re-report on that instead. 