UriTemplate doesn't seem to expand simple path variables

This test
```java
@Test
public void expandASimplePathVariable() {
	String url = "http://localhost:123/foo/{id}";
	UriTemplate template = new UriTemplate(url);
		
	assertEquals("http://localhost:123/foo/2", template.expand(2));
}
```
fails with an error

```
java.lang.AssertionError: expected:<http://localhost:123/foo/2> but was:<http://localhost:123/foo/%7Bid%7D/2>
	at org.junit.Assert.fail(Assert.java:88)
```

There seems to be a lot going inbetween the UriTemplate and the UriComponentsBuilder (to parse segments and so on) put the simple path variables are never correctly expanded.

I was not able to find any correct fix / or workaround.




UriTemplate should support Path Segment Expansion as found in [RFC 6570 Section 3.2.6](https://tools.ietf.org/html/rfc6570#section-3.2.6)